body{
	font-family: 'Vollkorn', serif;
	font-size: 18px;
	width: 500px;
	margin: 100px auto;
    background-color: rgba(24, 24, 60, 0.905);
}
.main {
	width: 440px;
	margin: 0 auto;
}

.img {
    width: 150px;
    margin-left: 130px;
}
.page-title{
	color: rgb(211, 218, 225);
	width: 230px;
	margin: 15px auto;
    display: flex;
	margin-left: 130px;
}
#listOfTasks {
	margin-top: 30px;
	background-color: rgba(2, 2, 60, 0.971);
	padding: 10px 25px;
	border-radius: 10px;
	max-height: 400px;
	display: none;
	overflow-y: auto;
	font-size: 1.2em;
}

.taskWrapper {
	border-bottom: 1px solid #dfdfdf;
	width: 445px;
	position: relative;
	height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 10px;
    color: #dfdfdf;
}

.newtask {
	font-family: 'Vollkorn', serif;
	border: 1px solid #dfdfdf;
	width: 400px;
	height: 35px;
	border-radius: 10px;
	text-indent: 15px;
	font-size: 1.2em;
}

.edittask {
	margin-right: 10px;
	width: 360px;
}

input[type="button"] {
	border-radius: 70px;
	width: 25px;
	height: 25px;
	color: #ffffff;
	font-family: arial;
	font-size: 0.8em;
	border: 0;
}

.confirmtask {
	background-color: #00ffc3be;
	font-size: 1.1em;
    margin-left: 5px;
}

.deletetask {
	background-color: rgb(168, 4, 4);
	position: absolute;
	right: 5px;
	top: 18px;
}

input[type="checkbox"] {
margin-right: 10PX;
}

.alignleft {
	float:left;
}

.alignright {
	float:right;
}
.clearfix {
	clear: both;
}

.taskContent {
	position: relative;
	top: 10px;
}
